body{
    background-color: #d0edf5;
}

p{
    margin: 0;
}

@font-face {font-family: "Rany";
    src: url("../../../fonts/3bff66e162b5055b568f8b36891ee8ca.eot"); /* IE9*/
    src: url("../../../fonts/3bff66e162b5055b568f8b36891ee8ca.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../../fonts/3bff66e162b5055b568f8b36891ee8ca.woff2") format("woff2"), /* chrome、firefox */
    url("../../../fonts/3bff66e162b5055b568f8b36891ee8ca.woff") format("woff"), /* chrome、firefox */
    url("../../../fonts/3bff66e162b5055b568f8b36891ee8ca.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../../../fonts/3bff66e162b5055b568f8b36891ee8ca.svg#Rany") format("svg"); /* iOS 4.1- */
  }

.content{
    font-family: 'Rany';
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.blockSecondPage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 150px;
}

.blockSecondPage img:last-child{
    margin-left: 65px;
}

.mapImages{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.secondBlockSecondPage{
    display: flex;
    width: 30%;
    font-size: 1.7rem;
    flex-direction: column;
}

.secondBlockSecondPage p{
    margin-bottom: 50px;
}

.imageBoy{
    width: 12vw;
    height: 350px;
}

.imageMap{
    width: 18vw;
    height: 350px;
}

.blocksThirdPage{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.blockThirdPage{
    text-align: center;
}

.imgsThirdPage{
    width: 100%;
    height: 400px;
}


@media screen and (max-width: 1100px) {
    .imagesFirstPage img{
        width: 19vw;
        height: 250px;
    }
}