.content{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-left: 400px - сменили*/
    margin-left: auto;
    margin-right: auto;
}

/*.information p{
    font-size: 2rem;
} - убрали*/

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 400px;
}


/*новое*/
.imgsFirstPage{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    margin-bottom: 100px;
}

.imgFirstPage{
    width: 500px;
    height: 500px;
}

.textFirstPage{
    font-size: 26px;
}

.textFirstPage:last-child{
    border-bottom: thin solid black;
    padding-bottom: 15px;
}