.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 70px;
    background-color: #673494;
}

.block{
    width: 70%;
}

.blocksThirdPage{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.blocksThirdPage p{
    font-size: 1.9rem;
    color: #ffffff;
}

.blockThirdPage{
    text-align: center;
    border: 3px solid rgb(255, 253, 253);
    border-radius: 10%;
    padding: 10px;
}

.imgsThirdPage{
    width: 15vw;
    height: 400px;
}